<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" class="form-control" [(ngModel)]="contato.nome" name="nome">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="contato.email" name="email">
    </div>

    <div class="form-group">
        <label>Telefone para contato</label>
        <input type="text" class="form-control" [(ngModel)]="contato.telefone" name="telefone">
    </div>

    <div class="form-group">
        <label for="select-1">Quantidade de adultos</label>
        <select class="form-control" id="select-2" [(ngModel)]="contato.adultos" name="selectedOption">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label for="select-3">Quantidade de crianças</label>
        <select class="form-control" id="select-4" [(ngModel)]="contato.criancas" name="selectedOption">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
